<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Easy2Give</title>
</head>
<body dir="rtl">
<span>שלום,</span><br>
<span>פתחנו עבורכם חשבון חדש במערכת</span><br>
<br>
<span>להלן לינק ליצירת רשימת המוזמנים: <a href="%guestTable%">%bitlyGuestTable%</a></span><br>
<span>שם המשתמש שלכם: %coupleId%</span><br>
<span>סיסמה: %password%</span><br>
<br>
<span>לינק לאפליקציית אייפון: <a href="%appStore%">%bitlyAppStore%</a></span><br>
<span>לינק לאפליקציית אנדרואיד: <a href="%googlePlay%">%bitlyGooglePlay%</a></span><br>
<br>
<span>נתראה בשמחות,</span><br>
<span>צוות Easy2Give</span>
</body>
</html>



