<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Easy2Give</title>
</head>
<body>
<span>Statistic of sending sms <%- date %></span><br>
<span>Total sms sent: <%- total %></span>
<table>
    <% _.forEach(statuses, function(value, key) { %>
    <tr>
        <td><%- key %></td>
        <% if (total != 0) { %>
        <td><%- value + " (" + _.round(value / total * 100, 2) + "%)" %></td>
        <% } else { %>
        <td><%- value %></td>
        <% } %>
    </tr>
    <% }); %>
</table>
</body>
</html>
